@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root {
    --color-name-white: hsl(0, 0%, 80%);
    --color-name-black: hsl(0, 0%, 10%);
    --color-message: hsl(0, 0%, 100%);
    --color-message-background: hsla(0, 0%, 0%, .4);
    --font-message-size: 1.25rem;
}

.hidden {
    filter: blur(5px);
}

body {
    margin: 0;
}

* {
    font-family: "Varela Round";
    box-sizing: border-box;
}

#log {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    justify-content: flex-end;
}

#log .frame {
    border: 0.3em solid;
    border-radius: 1em;

    margin: 1em 0 0 0;
}
#log .frame header {
    display: flex;
    margin-left: 5%;
    transform: translate(0, calc(-50% - 0.15em));
}
#log .frame header .user {
    display: flex;
    border-radius: 999em;
    padding: 0.2em 0.8em;
    font-size: 0.85em;
    color: hsl(0, 0%, 90%);
}

#log .frame .message {
    display: flex;
    transform: translate(0, -0.5em);
    margin: 0 0.5em;
    word-wrap: break-word;
}

#log .frame.next {
    margin-top: 0.3em;
}
#log .frame.next > header {
    display: none;

}
#log .frame.next > .message {
    transform: translate(0, 0);
    margin: 0.3em 0.8em;
}
